################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/AleAliCafeteria/FileContentIndex/08a281fd-5623-4905-8970-8859b4605c03.vsidx
/.vs/AleAliCafeteria/FileContentIndex/5c628c73-65e0-4078-b418-9e1d620c48e9.vsidx
/.vs/AleAliCafeteria/FileContentIndex/147041e7-9419-456b-81cc-06315fde4632.vsidx
/.vs/AleAliCafeteria/FileContentIndex/827aa4cb-3fcf-4bab-8a26-ccc7351eeab9.vsidx
/.vs/AleAliCafeteria/FileContentIndex/ac0c7e28-497a-471b-94a4-44fc19159724.vsidx
/.vs/AleAliCafeteria/FileContentIndex/418d8071-0108-434b-831d-65dffd2a0b6b.vsidx
/.vs/AleAliCafeteria/FileContentIndex/03d8fd14-1b5e-4b46-b0e5-3f667f01fc61.vsidx
/.vs/AleAliCafeteria/FileContentIndex/a33eeaec-b490-4013-8e97-3409387ffe78.vsidx
/.vs/AleAliCafeteria/v17/.wsuo
/.vs/AleAliCafeteria/FileContentIndex/c8c101a6-3fde-47af-b27b-fd91215333c9.vsidx
/.vs/AleAliCafeteria/v17/DocumentLayout.backup.json
/.vs/AleAliCafeteria/FileContentIndex/b6d21583-57f6-4932-af9e-133965075835.vsidx
/.vs/AleAliCafeteria/FileContentIndex/cd47d8b9-d95c-48ff-9257-c87cb62182c9.vsidx
/.vs/AleAliCafeteria/v17/DocumentLayout.json
/.vs/AleAliCafeteria/FileContentIndex/b31b9776-54d1-4bac-a5c6-336cebfd913f.vsidx
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
